.font-color{
    color: #fabe4c;
}
.main-button{
    background-image: linear-gradient(lightgreen, darkgreen);
    padding: 5px 10px;
    border: 0;
    color: white;
}
.jacket-card{
    border: 0;
}
.jacket-card-footer{
    background-color: white;
    border: 0;
}
.intro-background{
    background-color: #fffbf0;
}